@import './mixins/mixins.scss';
@import './common/var.scss';

@include b(input) {
  position: relative;

  @include b(input__inner) {
    box-sizing: border-box;
    width: 100%;
    line-height: 1.5;
    border-radius: 4px;
    background-image: none;
    background-color: $--color-white;
    outline: none;
    transition: all 0.3s;
    
    &.size-big{
      height: 40px;
      font-size: $--size-big;
      padding: 6px 12px;
    }
    
    &.size-normal{
      height: 32px;
      font-size: $--size-normal;
      padding: 4px 8px;
    }
  
    &.size-small{
      height: 24px;
      font-size: $--size-small;
      padding: 2px 4px;
    }

    &.is-before-icon{
      padding-left: 36px;
    }

    &.is-after-icon{
      padding-right: 36px;
    }

    &.is-both-icon{
      padding-right: 60px;
    }

    &:not(.is-disabled) {
      &:active,&:hover{
        border-color: $--color-info;
      }
    
      &:focus{
        outline: 0;
        box-shadow: 0 0 0 2px rgba($--color-info,.2);
      }
    }
    
    @include commonColor($--color-gray);
    color: rgba(0,0,0,.65);
  
    @include when(disabled) {
      cursor: not-allowed;
      background-color: $--color-disabled-bg;
    }
  }

  textarea.#{$B} {
    padding: 4px 11px;
  }

  @include b(input__beforeicon) {
    @include IconPosition(before);
  }

  @include b(input__aftericon) {
    @include IconPosition(after);

    @include b(input__aftericon__close) {
      cursor: pointer;
      opacity: 0.5;

      &:hover{
        opacity: 0.8;
      }
    }
  }
}