@import '../common/var.scss';
@import '../config/index.scss';

@mixin commonColor($color) {
  @if $color== 'info' {
    $color: $--color-info;
  }

  @if $color== 'success' {
    $color: $--color-success;
  }

  @if $color== 'warning' {
    $color: $--color-warning;
  }

  @if $color== 'danger' {
    $color: $--color-danger;
  }

  @if $color== 'disabled' {
    cursor: not-allowed;
    $color: $--color-disabled;
  }

  color: $color;
  border: 1px solid $color;
}

@mixin commonType($name) {
  @each $type in (info, success, warning, danger) {
    .#{$name}#{$type} {
      @include commonColor($type);
    }
  }
}

@mixin b($block) {
  //  !global 与 default 相对立，优先于默认编译
  $B: $namespace + '-' + $block !global;

  .#{$B}{
    @content;
  }
}

@mixin when($state) {
  @at-root {
    &.#{$state-prefix + $state} {
      @content;
    }
  }
}

@mixin IconPosition($position) {
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  display: flex;
  align-items: center;

  @if $position== 'before' {
    left: 10px;
  }

  @if $position== 'after' {
    right: 10px;
  }
}